@font-face {
  font-family: "Pac Font";
  src: url("fonts/PAC-FONT.TTF");
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

div {
  display: block;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-family: "Pac Font", Impact;
  text-align: center;
  color: Yellow;
  font-size: 36px;
  padding: 5px;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: Yellow;
  font-size: 30px;
  padding: 5px;
}

h3 {}

p {
  margin: 0;
}

/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

#pacman-won {
  color: #ffffff;
  padding: 4px 0 4px 0;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* ---- components ---- */
  /* .button {
    width: 100%;
    background-color: blue;
    color: #fff;
    border: 1px solid #fff
  } */
  .button, .restart-button {
    margin: 5px 0 5px 0;
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background-color: #ffec64;
    border: 1px solid #ffaa22;
    cursor: pointer;
    color: #333333;
    font-family: Courier New;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
  }
  .button:hover {
    background-color: #ffab23;
  }
  .button:active {
    border: 1px solid #ffaa22;
  }
  /* .button-alt {
    color: blue;
    background-color: #fff;
  } */
  /* ---- section ---- */
  section.testimonials .button {
    margin-bottom: 10px;
  }
  .game-container {
    width: 472px;
    height: 560px;
    border: 1px solid blue;
  }
  #lives {
    color: #ffffff;
    padding: 4px 0 4px 0;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* ---- components ---- */
  /* .button {
    width: 100%;
    background-color: blue;
    color: #fff;
    border: 1px solid #fff
  } */
  .button .restart-button {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background-color: #ffec64;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Courier New;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
  }
  .button:hover {
    background-color: #ffab23;
  }
  .button:active {
    border: 1px solid #ffaa22;
  }
  .button-alt {
    color: blue;
    background-color: #fff;
  }
  /* ---- section ---- */
  section.testimonials .button {
    margin-bottom: 10px;
  }
  .game-container {
    width: 472px;
    height: 320px;
    /* border: 1px solid blue; */
  }
  #lives {
    color: #ffffff;
    padding: 4px 0 4px 0;
  }
}