@font-face {
  font-family: "Pac Font";
  src: url("fonts/PAC-FONT.TTF");
}

@font-face {
  font-family: "Arcade Classic";
  src: url("fonts/ARCADECLASSIC.TTF");
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div {
  display: block;
}

/* ---- typography ---- */

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-family: "Pac Font", Impact;
  text-align: center;
  color: #fff000;
  font-size: 50px;
  padding: 5px;
  /* margin: 10px 0 10px 0; */
  /* text-shadow: 2px 2px #ffffff; */
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

h2 {
  font-family: 'Arcade Classic', 'Courier New', Courier;
  text-align: center;
  color: #fff000;
  font-weight: 200;
  font-size: 28px;
  padding: 5px;
  border: 1px solid #000000;
}

h3 {}

p {
  margin: 0;
}

/* ---- layout ---- */

header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* ---- CLASSES ---- */

.titleSign {
  width: 350px;
  background-color: #f67622;
  border: 5px solid #f80126;
  border-radius: 20px;
  margin: 20px 0 20px 0;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.gameBorder {
  width: 250px;
  border: 7px double blue;
  border-radius: 15px;
  padding: 20px;
}

/* ---- ID's ---- */

#site-header {
  font-family: 'Arcade Classic', 'Courier New', Courier;
  padding: 30px 0;
  color: white;
  background: #111;
}

#lives {
  font-family: 'Arcade Classic', 'Courier New', Courier;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 0 8px 0;
}

#pacman-won {
  font-family: 'Arcade Classic', 'Courier New', Courier;
  color: #ffffff;
  font-size: 22px;
  font-weight: 200;
  padding: 4px 0 4px 0;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

#easter-egg {
  margin: 25px 0 25px 0;
  width: 100px;
  height: 128px;
}

/* ---- components ---- */

.button, .start-button, .restart-button {
  margin: 25px 0 25px 0;
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background-color: #ffec64;
  border: 1px solid #ffaa22;
  cursor: pointer;
  color: #000000;
  font-family: 'Arcade Classic', 'Courier New', Courier;
  font-size: 15px;
  font-weight: 300;
  padding: 8px 20px;
  text-decoration: none;
}

.button:hover, .start-button:hover, .restart-button:hover {
  background-color: #ffab23;
}

.button:active, .start-button:active, .restart-button:active {
  border: 1px solid #ffaa22;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  /* ---- section ---- */
  /* section.testimonials .button {
    margin-bottom: 10px;
  } */
  .game-container {
    width: 476px;
    height: 560px;
    /* border: 1px solid blue; */
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .game-container {
    width: 476px;
    height: 320px;
    /* border: 1px solid blue; */
  }
}